<div class="k-loading-panel" *ngIf="excelIsLoading$ | async">
  <div class="k-loading-panel-mask"></div>
  <div class="k-loading-panel-wrapper">
    <kendo-loader
      [type]="'infinite-spinner'"
      [themeColor]="'info'"
      [size]="'large'"
    >
    </kendo-loader>
    <div class="k-loading-panel-text">Загрузка...</div>
  </div>
</div>

<kendo-grid [data]="gridDataRes$ | async"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            [filterable]="true"
            [navigable]="true"
            (dataStateChange)="dataStateChange($event)"
            style="height: 100vh;">
  <ng-template kendoGridToolbarTemplate>
    <button type="button" kendoButton icon="file-excel" (click)="exportToExcel()">Экспортировать в Excel</button>
  </ng-template>
  <kendo-grid-column field="description" title="Описание"></kendo-grid-column>
  <kendo-grid-column field="customerName" title="Заказчик"></kendo-grid-column>
  <kendo-grid-column field="supplierName" title="Исполнитель"></kendo-grid-column>
  <kendo-grid-column field="createdDate" title="Дата создания" format="{0:dd.MM.yyyy}">
    <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
      <app-date-range-filter
        [field]="column.field"
        [filter]="filter"
        [filterService]="filterService">
      </app-date-range-filter>
    </ng-template>

    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <app-date-range-filter-cell
        class="date-range-filter"
        [filter]="filter"
        [field]="column.field">
      </app-date-range-filter-cell>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="sum" title="Сумма" filter="numeric" format="{0:n}"></kendo-grid-column>
  <kendo-grid-column field="supplierINN" title="ИНН"></kendo-grid-column>
  <kendo-grid-column field="puchaseSource" title="Источник покупки"></kendo-grid-column>
  <kendo-grid-column field="url" title="URL адрес">
    <ng-template kendoGridCellTemplate let-dataItem>
      <a style="color: blue" [href]="dataItem.url" target="_blank">{{ dataItem.url }}</a>
    </ng-template>
  </kendo-grid-column>
  <!--<kendo-grid-excel fileName="Zakupki.xlsx"></kendo-grid-excel>-->
</kendo-grid>

<!--<kendo-loader
  [type]="'converging-spinner'"
  [themeColor]="'info'"
  [size]="'medium'"
>
</kendo-loader>-->
